# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.cache/
.next/
.nuxt/
.vscode/
dist/
build/
out/

# Environment
.env
.env.local
.env.*.local

# Logs & coverage
logs/
*.log
coverage/
.nyc_output/

# PHP
/vendor/
/composer.phar
/.phpunit.result.cache
phpunit.xml
phpunit.xml.dist
var/
/.tempest

# OS & editor
.DS_Store
**/.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vagrant/